<div>
  <form
    method="post"
    action="/create"
    #countryform="ngForm"
    (ngSubmit)="createCountry(countryform.value)"
    id="countryForm"
    class="space-y-4"
  >
    <!-- Country Name Input -->
    <div>
      <label for="countryName" class="block text-gray-600 font-medium"
        >Country Name</label
      >
      <input
        type="text"
        id="countryName"
        name="countryName"
        ngModel
        required
        class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <!-- Save Button -->
    <button
      type="submit"
      class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg"
    >
      Save
    </button>
  </form>

  <p *ngIf="message" [ngStyle]="{ color: isError ? 'red' : 'green' }">
    {{ message }}
  </p>
</div>
